@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* font dari Inter */
  --font-sans: var(--inter-font);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Tailwind override font-sans */
  --font-sans: var(--inter-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply ke body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--inter-font), sans-serif;
}
